<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-sliding *ngFor="let task of taskList">
      <ion-item-options side="start">
        <ion-item-option color="danger">
          <ion-icon name="trash-bin" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <ion-icon name="albums"></ion-icon>
        </ion-thumbnail>

        <ion-label>{{ task.name }}</ion-label>
        <ion-icon name="arrow-forward" color="primary" slot="end"></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
